/* colour 
4EA0FF sfondo header
70C8EE the booleaner
FFFF3F testo evidenziato
20A9E5 sfondo titolo tabella
B1E5F2 colore sfondo tabella
9A9A9A grigio data
*/

/* Initial */

body{
    margin: 0;
    width: 1100px;
    height: 1240px;
}

/* Header */
.images{
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: contain;
    height: 100px;
    
    
}
.logo{
    width: 200px;
    padding-top: 40px;
    padding-left: 5px;
}
/* Main */
h1{
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 20px;
}
.autore{
 color: #9A9A9A;
 margin: 0px; 
 font-size: 20px;  
}
a{
    color: #70C8EE;
    text-decoration: none;
}
.data{
    color: #9A9A9A;
    margin-top: 0px;
    font-size: 14px; 

}
.foto{
   margin: 0px;
   font-size: 14px; 
}
/* Footer */