/* colour 
4EA0FF sfondo header
70C8EE the booleaner
FFFF3F testo evidenziato
20A9E5 sfondo titolo tabella
B1E5F2 colore sfondo tabella
*/

/* Initial */

body{
    margin: 0;
}

/* Header */
.images{
    background-color: #4EA0FF;
    background-image: url("../img/pattern.png");
    background-size: contain;
    height: 100px;
    
}
.logo{
    width: 200px;
    padding-top: 40px;
    padding-left: 5px;
}
/* Main */



/* Footer */